body{
  display: fleY;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Bangers', cursive;
  background-color: #ff7d7c;
  color: #003987;
}

*{
  margin : 0 ;
}

header{
  display: block;
  margin : 0 auto;
  /* min-width: 400px; */
  /* width: 500px; */
}

header h1{
  padding-top : 40px;
  padding-bottom : 20px;
  text-align: center;
  font-size : 60px;
}

main{
  flex: 1;
  display: flex;
  flex-direction: row;
}

header section{
  min-width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding : 20px;
  background-color: #ffd082;
}

header section div{
  display: flex;
  position: relative;
}

#stackCount{
  width: 30px;
  position: absolute;
  right : -10px;
  top:-10px;
  font-size: 1.5em;
  border : 1px solid black;
  border-radius: 25px;
  text-align: center;
}

section div input{
  border : 1px solid black;
  border-radius: 15px;
  margin: 10px -5px;
  padding: 10px;
  width: 85%;
  font-family: inherit;
  font-size: 20px;
  font-weight: lighter;
  background-color: #21243b;
  color: #88e1f2;
}

section div.buttons{
  margin: 15px 0;
}

section div #select{
  flex: 1;
  margin:0 10px;
  padding:0 10px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  background-color: #21243b;
  color: #88e1f2;
}

section div #submit{
  padding:20px;
  border-radius: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSs6WTHBn-wXJ6h-WTjmMrBxLmdPim5Z7vkaA&usqp=CAU");
  background-position: center;
  background-size: contain;
  border : 2px dashed burlywood;
  cursor: pointer;
  background-repeat: no-repeat;
}

section div #submit:hover{
  box-shadow: 2px 3px 4px #ff7d7c;
}

.cookie{
  position: absolute;
}

.new{
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  animation-name: enlarge ;
  animation-duration: 1s ;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out ;
  animation-fill-mode: both;
}

#animate{
  position: relative;
  display: block;
  width: 90%;
  top : 50px;
  animation-name: shiver ;
  animation-duration: 1.2s ;
  animation-iteration-count: infinite;
  animation-timing-function: linear ;
  animation-fill-mode: both;
  z-index: 100;
}

#animate-stay{
  position: relative;
  display: block;
  width: 90%;
  top : 50px;
  transition: all 1s;
}

@media all and (min-width:400px){
  #animate{
    width: 300px;
    margin: 0 auto;
  }
  #animate-stay{
    width: 300px;
    margin: 0 auto;
  }
}

@media all and (min-width:700px){
  header{
    margin: 0 auto;
    width : 650px;
  }
}

@keyframes enlarge{
  from{
    transform: scale(1);
  }to{
    transform: scale(3);
  }
}

@keyframes shiver{
  0%{
    transform: rotateZ(45deg);
  }
  25%{
    transform: rotateZ(0);
  } 
  50%{
    transform: rotateZ(-45deg);
  }
  75%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(45deg);
  }
}