body{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

*{
  margin : 0 ;
}

main{
  flex: 1;
  display: flex;
  flex-direction: row;
}

aside{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  align-items: center;
}

aside label{
  margin: 10px;
  padding: 10px;
  font-weight: 300;
  font-size: 1.4em;
}

aside input{
  margin: 10px;
  width: 60%;
  padding: 5px 10px;
  font-size: 0.6em;
  border-radius: 20px;
}

aside button{
  padding:10px;
  border-radius: 50%;
  cursor: pointer;
}

article{
  flex:1;
  display: flex;
  max-height: 100%;
}

.cookie{
  position: absolute;
}

.new{
  display: block;
  width: 100px;
  height: 100px;
  transform: scale(3);
  position: relative;
}
